
@{
    ViewBag.Title = "Index";
}

<div class="navbar bg-dark" role="navigation">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
    @Html.Partial("CartWidget")
</div>

<div class="row">
    <div id="categories" class="col-4">
        <button class="btn btn-block btn-lg" data-bind="click: setCategory.bind(null), css: {'btn-primary': $data == customerModel.selectedCategory()}">
            Home
        </button>
        <div data-bind="foreach: customerModel.productCategories()">
            <button class="btn btn-block btn-primary btn-lg" data-bind="click: setCategory.bind($data), text: $data, css: {'btn-primary': $data == customerModel.selectedCategory()}"></button>
        </div>
    </div>

    <div class="alert alert-danger col-8" data-bind="visible: model.gotError(), text: model.error()"></div>

    <div class="col-8">
        <div data-bind="visible: customerModel.currentView() == 'list'">
            @Html.Partial("ProductList")
        </div>
        <div class="row card" data-bind="visible: customerModel.currentView() == 'cart'">
            @Html.Partial("ProductCart")
        </div>
        <div class="row card" data-bind="visible: customerModel.currentView() == 'checkout'">
            @Html.Partial("Checkout")
        </div>
        <div class="row card" data-bind="visible: customerModel.currentView() == 'thankyou'">
            @Html.Partial("ThankYou")
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Custom/storeCustomerModel.js"></script>
    <script src="~/Scripts/Custom/storeCustomerController.js"></script>
}